---
//src/pages/index.astro
export const prerender = false;

function getBrowserLanguage(accept: string | null): string {
  if (!accept) return "en";
  const languages = ["en", "es", "sv"];
  const browserPreferences = accept
    .split(",")
    .map((lang) => lang.trim().toLowerCase().split("-")[0]);
  for (const pref of browserPreferences) {
    if (languages.includes(pref)) {
      return pref;
    }
  }
  return "en";
}

const acceptLanguage = Astro.request.headers.get("accept-language");
const detectedLanguage = getBrowserLanguage(acceptLanguage);
console.log("Detected language:", detectedLanguage);

// Define generic metadata
const title = "Patricio Salinas";
const description =
  "Fotografía, ensayos y pensamiento visual | Photography, essays and visual thinking";
const image = "/og-image.png";
const siteURL = "https://www.patriciosalinas.com";

return Astro.redirect(`/${detectedLanguage}`);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://www.patriciosalinas.com/og-image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={siteURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://www.patriciosalinas.com/og-image.png"
    />

    <meta http-equiv="refresh" content={`0;url=/${detectedLanguage}`} />
  </head>
  <body>
    <p>Redirecting to {detectedLanguage} version...</p>
  </body>
</html>
