---
import Layout from "../layouts/Layout.astro";
import { getHomePageContent, getPosts } from "../lib/graphql-queries";
import type { Post, Lang } from "../types/types";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

let posts: Post[] = [];
let homeContent: { title: string; content: string } | null = null;
let error: Error | null = null;

try {
  [posts, homeContent] = await Promise.all([
    getPosts(lang),
    getHomePageContent(lang),
  ]);
} catch (e) {
  console.error("Error fetching data:", e);
  error = e instanceof Error ? e : new Error("An unknown error occurred");
}
---

<Layout title={homeContent?.title || "Home"}>
  {
    error ? (
      <p>
        There was a problem loading the content. Please try reloading the page.
      </p>
    ) : (
      <main>
        <h1>{homeContent?.title}</h1>
        <div set:html={homeContent?.content} />
        <h2>Latest Posts</h2>
        <ul>
          {posts.slice(0, 5).map((post) => (
            <li>
              <a href={`/${lang}/post/${post.slug}`}>{post.title}</a>
              <p>{post.excerpt}</p>
            </li>
          ))}
        </ul>
      </main>
    )
  }
</Layout>
