---
//src/components/layouts/Layout.astro
import Navbar from "../components/Navbar.astro";
import { useTranslations } from "../i18n/utils";
import type { Page, Lang } from "../types/types";
import "../styles/app.css";

export interface Props {
  title: string;
  lang: Lang;
  pages: Page[];
}

const { title, lang, pages } = Astro.props;
const t = useTranslations(lang);
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-playfair">
    <Navbar currentPath={currentPath} lang={lang} pages={pages} />
    <main>
      <slot />
    </main>
    <footer>
      <p>
        © {new Date().getFullYear()}
        {t("footer.copyright")}
      </p>
    </footer>
  </body>
</html>
<style>
  main {
    /* Asegúrate de que el contenido principal ocupe todo el espacio disponible */
    min-height: calc(
      100vh - 60px - 100px
    ); /* Resta la altura del navbar y el footer */
  }
</style>
