---
export interface Props {
  src: string;
  alt: string;
  width?: string;
  height?: string;
}
const { src, alt, width = "100%", height = "auto" } = Astro.props;
---

<div
  class="protected-image-container"
  style={`max-width:${width};max-height:${height};`}
>
  <canvas data-src={src} data-alt={alt}></canvas>
</div>

<script>
  function loadProtectedImages() {
    const containers = document.querySelectorAll(".protected-image-container");
    containers.forEach((container) => {
      const canvas = container.querySelector("canvas");
      if (canvas instanceof HTMLCanvasElement) {
        const ctx = canvas.getContext("2d");
        if (ctx) {
          const img = new Image();
          img.crossOrigin = "Anonymous";
          img.src = canvas.dataset.src || "";
          img.onload = function () {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0, img.width, img.height);

            // Add watermark
            const text = "© Patricio Salinas";
            const fontSize = Math.max(12, img.width * 0.02);
            const margin = fontSize;
            ctx.font = `${fontSize}px Arial`;
            ctx.fillStyle = "rgba(255, 255, 255, 0.5)";
            const textWidth = ctx.measureText(text).width;
            ctx.fillText(
              text,
              img.width - textWidth - margin,
              img.height - margin
            );
          };
        }
      }
    });
  }

  // Prevent right-click
  document.addEventListener(
    "contextmenu",
    function (e) {
      if (
        e.target instanceof HTMLCanvasElement &&
        e.target.closest(".protected-image-container")
      ) {
        e.preventDefault();
      }
    },
    false
  );

  // Prevent image drag
  document.addEventListener(
    "dragstart",
    function (e) {
      if (
        e.target instanceof HTMLCanvasElement &&
        e.target.closest(".protected-image-container")
      ) {
        e.preventDefault();
      }
    },
    false
  );

  // Disable "PrtSc" key for screenshot
  document.addEventListener("keydown", function (e) {
    if (e.key === "PrintScreen") {
      e.preventDefault();
      alert("Screenshots are disabled.");
    }
  });

  document.addEventListener("DOMContentLoaded", loadProtectedImages);
</script>

<style>
  .protected-image-container {
    position: relative;
    overflow: hidden;
  }
  .protected-image-container canvas {
    max-width: 100%;
    height: auto;
    display: block;
  }
</style>
